/* @start CORE */
*, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body{
    color: #323436;
	width: 100%;
    margin: 0;
    padding: 0;
    display: block;
	font-size: 16px;
	line-height: 24px;
	font-family: "Source Sans Pro", "Segoe UI", "Open Sans", Calibri, sans-serif;
    background-color: #fafafa;
}
html.invert, html.invert body{
    color: rgba(255, 255, 255, 0.75);
    background-color: #101418;
}

/* ANIMATIONS */
@keyframes spin{
    0%{
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes spin{
    0%{
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

/* INLINE ELEMENTs */
a{
    color: #0099e5;
    border-bottom: 1px solid #0099e5;
    text-decoration: none;
}
a.less{
    border-bottom: 0;
}
a:hover{
    color: #303438;
}
.invert a:hover{
    color: rgba(255, 255, 255, 1);
}
b, strong{
    font-weight: 600;
}
i, em{
    font-style: italic;
}
q{
    font-style: italic;
}
q:before{
    margin: 0 2px 0 0;
    display: inline-block;
    content: "»";
}
q:after{
    margin: 0 0 0 2px;
    display: inline-block;
    content: "«";
}
mark{
    color: #fff;
    padding: 0 3px;
    background-color: #0099e5;
}
code, kbd, samp, tt{
    font-size: 12px;
    line-height: 22px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
code{
    color: #f0f0f0;
    margin: 2px 0 0 0;
    padding: 1px 3px;
    display: inline-block;
    background: #2d2d2d;
    line-height: 18px;
	white-space: normal;
    vertical-align: top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
code.invert{
    color: #303438;
    background-color: #f0f0f0;
}
code.blue{
    color: #0099e5;
    background-color: rgba(0, 153, 229, 0.05);
}
code.red{
    color: #CB414A;
    background-color: rgba(203, 65, 74, 0.05);
}
kbd{
    color: #555555;

    margin: 1px 0 0 0;
    padding: 1px 5px;
    border: 1px solid #a0a0a0;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    vertical-align: top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px #e0e0e0;
    -moz-box-shadow: 0 1px 1px #e0e0e0;
    -webkit-box-shadow: 0 1px 1px #e0e0e0;
}
html.invert kbd{
    color: rgba(255, 255, 255, 0.75);
    border-color: #404448;
    background-color: #303438;
    box-shadow: 0 1px 1px #000408;
    -moz-box-shadow: 0 1px 1px #000408;
    -webkit-box-shadow: 0 1px 1px #000408;
}
samp{
    color: #ffffff;
    margin: 0;
    padding: 1px 3px;
    display: inline-block;
    background-color: #000408;
    line-height: 20px;
}
var{
    color: #0099e5;
    font-weight: 600;
}

/* BLOCK ELEMENTs */
div, p{
    margin: 0;
    padding: 0;
    display: block;
}
div{
    vertical-align: top;
}
p{
	margin: 15px 0;
	font-size: 16px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	margin: 30px 0 15px 0;
	padding: 0 5px;
	display: block;
	font-weight: 400;
}
h1{
	padding: 0 10px;
	font-size: 26px;
	line-height: 30px;
    font-family: 'Oswald', sans-serif;
}
h2{
	font-size: 20px;
	line-height: 24px;
}
h3{
	font-size: 18px;
	line-height: 22px;
}
h4{
	font-size: 16px;
	line-height: 20px;
}
h5{
	font-size: 14px;
	line-height: 18px;
}
h6{
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
}
blockquote, address{
	color: #333333;
	margin: 15px 0;
	padding: 25px 30px;
	display: block;
	border-left: 3px solid #DC4650;
	background-color: #fafafa;
}
html.invert blockquote, html.invert address{
	color: rgba(255, 255, 255, 0.8);
    background-color: #303438;
}
blockquote p:first-child{
    margin-top: 0;
}
blockquote p:last-child{
    margin-bottom: 0;
}
blockquote cite{
	color: #666666;
	margin: 5px 10px 0 10px;
	padding: 0;
	display: block;
    font-size: 12px;
	font-style: italic;
}
html.invert blockquote cite{
	color: rgba(255, 255, 255, 0.5);
}
address{
    padding-top: 0;
    white-space: pre-line;
    border-left-color: #0099e5;
}
pre{
    width: 100%;
	margin: 15px 0;
    padding: 10px 15px;
    font-size: 14px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background-color: #f0f0f0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
ul, ol{
    margin: 15px 0;
    padding: 0 30px;
}
li{
    margin: 3px 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
}
li ul, li ol{
    margin: 0;
}
dl{
    margin: 15px 0;
    padding: 0;
    display: block;
}
dl dt{
    margin: 5px 0 0 0;
    padding: 0;
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
dl dd{
    margin: 0;
    padding: 5px 20px;
    display: block;
    font-size: 16px;
    line-height: 22px;
}
table{
    width: 100%;
    margin: 30px 0;
    border-spacing: 0 3px;
    border-collapse: separate;
}
table caption{
    padding: 5px 0 10px 0;
    font-size: 16px;
    line.height: 22px;
}
table tr th, table tr td{
    padding: 10px 15px;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
}
table tr > *:first-child{
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}
table tr > *:last-child{
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}
table thead tr > *{
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #0099e5;
}
table thead tr > *:last-child{
    border-right: 0;
}
table tbody tr > *{
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
html.invert table tbody tr > *{
    background-color: #101418;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
table tbody tr > *:first-child{
    border-left: 1px solid #c0c0c0;
}
table tbody tr > *:last-child{
    border-right: 1px solid #c0c0c0;
}
html.invert table tbody tr > *:first-child{
    border-left-color: rgba(255, 255, 255, 0.2);
}
html.invert table tbody tr > *:last-child{
    border-right-color: rgba(255, 255, 255, 0.2);
}
table tfoot tr > *{
    color: #777777;
    padding: 5px 10px;
    font-size: 14px;
    font-style: italic;
}
/* @end CORE */

/* @start FORM */
input, select, textarea{
    width: 275px;
    height: 35px;
    margin: 0;
    padding: 7px 10px 6px 10px;
    display: inline-block;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    line-height: 20px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 1px 1px #f0f0f0;
    -moz-box-shadow: inset 0 1px 1px #f0f0f0;
    -webkit-box-shadow: inset 0 1px 1px #f0f0f0;
}
html.invert input, html.invert select, html.invert textarea{
    color: rgba(255, 255, 255, 0.75);
    border-color: #404448;
    background-color: #303438;
    box-shadow: 0 1px 1px #000408;
    -moz-box-shadow: 0 1px 1px #000408;
    -webkit-box-shadow: 0 1px 1px #000408;
}
input[type="number"]{
    width: 75px;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
}
textarea{
    height: auto;
    min-height: 100px;
    resize: vertical;
}
input:hover, select:hover, textarea:hover,
input.hover, select.hover, textarea.hover{
    border-color: #a0a0a0;
}
html.invert input:hover, html.invert select:hover, html.invert textarea:hover,
html.invert input.hover, html.invert select.hover, html.invert textarea.hover{
    border-color: #707478;
}
input:focus, select:focus, textarea:focus,
input.focus, select.focus, textarea.focus{
    border-color: #DC4650;
}
html.invert input:focus, html.invert select:focus, html.invert textarea:focus,
html.invert input.focus, html.invert select.focus, html.invert textarea.focus{
    border-color: #DC4650;
}

/* Input Width */
.small-width{
    width: 75px;
}
.medium-width{
    width: 175px;
}
.normal-width{
    width: 275px;
}
.large-width{
    width: 375px;
}
.xlarge-width{
    width: 475px;
}
.half-width{
    width: 50%;
}
.full-width{
    width: 100%;
}

/* Buttons */
input[type="submit"], input[type="reset"], input[type="button"], button, .button{
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 7px 10px 6px 10px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    line-height: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
}
input[type="submit"]:disabled, input[type="submit"][disabled],
input[type="reset"]:disabled, input[type="reset"][disabled],
input[type="button"]:disabled, input[type="button"][disabled],
button:disabled, button[disabled], .button:disabled, .button[disabled]{
    cursor: not-allowed !important;
    color: rgba(255, 255, 255, 0.75) !important;
    font-style: italic !important;
    border-color: #000408 !important;
    background-color: #202428 !important;
}
input[type="submit"], button, .button{
    color: #ffffff;
    border-color: #0099e5;
    background-color: #0099e5;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
input[type="submit"]:hover, button:hover, .button:hover,
input[type="submit"].hover, button.hover, .button.hover{
    border-color: #005b89;
    background-color: #007ab7;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
}
input[type="submit"]:active, button:active, .button:active,
input[type="submit"].active, button.active, .button.active{
    border-color: #000408;
    background-color: #202428;
}
input[type="reset"], input[type="button"], .button-white{
    color: #323436;
    border-color: #c0c0c0;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0 1px 1px #d0d0d0;
    -moz-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
}
input[type="reset"]:hover, input[type="button"]:hover, .button-white:hover,
input[type="reset"].hover, input[type="button"].hover, .button-white.hover{
    border-color: #a0a0a0;
}
input[type="reset"]:active, input[type="button"]:active, .button-white:active,
input[type="reset"].active, input[type="button"].active, .button-white.active{
    color: #777;
    border-color: #a0a0a0;
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 1px #c0c0c0;
    -webkit-box-shadow: inset 0 1px 1px #c0c0c0;
}
.button-green{
    border-color: #34BF49;
    background-color: #34BF49;
}
.button-green:hover, .button-green.hover{
    border-color: #1f722b;
    background-color: #29983a;
}
.button-green:active, .button-green.active{
    border-color: #000408;
    background-color: #202428;
}
.button-red{
    border-color: #CB414A;
    background-color: #CB414A;
}
.button-red:hover, .button-red.hover{
    border-color: #79272c;
    background-color: #a2343b;
}
.button-red:active, .button-red.active{
    border-color: #000408;
    background-color: #202428;
}

/* Special Classes */
.loading:before{
    top: 3px;
    left: -70px;
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAuU\
    lEQVRIicWVwQ6DMAxDLSRgTJyAwz6XP4dLM3VRnTaUMku5IMevUJoC5doBHKF2R9/zgK4CwHq/GgB8AEwXAFPo7Vl4FwxSG\
    mIBJFyKvok2xhAGeKueFwtnkNHwjt5wDVkKvCv4vpmyVl7jvV8DKa9mUj+bFJdXNKc5oPkn+pua/qZy/NcC7wbnQasZFVmI\
    DtezRZ7PRg+F6HGdGlwpQApCx3VvhFuAGEIvHJF17VmAXG+RcoBquQEn8bocE27O0QgAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-position: center center;
    animation: spin 2s infinite steps(8);
    -moz-animation: spin 2s infinite steps(8);
    -webkit-animation: spin 2s infinite steps(8);
}

/* Form classes */
form{
    margin: 15px 0;
    display: block;
}
.form-field{
    margin: 5px 0;
    display: block;
}
/* @end FORM */

/* @start BASIC */
.text-left, *[align="left"]{ text-align: left !important; }
.text-right, *[align="right"]{ text-align: right !important; }
.text-center, *[align="center"]{ text-align: center !important; }
.container{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
.container:after{
    clear: both;
    height: 0;
    content: "";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}
.container-left, .container-right{
    width: auto;
	height: auto;
    display: inline-block;
}
.container-left{
    float: left;
}
.container-right{
    float: right;
}
.inner{ }
.inner > *:first-child{
    margin-top: 0;
}
.inner > *:last-child{
    margin-bottom: 0;
}

/* TOOLTIPs */
*[data-tooltip]{
    cursor: pointer;
}
.tooltip{
    color: #fff;
    width: auto;
    height: auto;
    margin: 10px 0;
    padding: 5px 7px;
    display: block;
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    background-color: #202428;
    transition: opacity 142ms linear;
    -moz-transition: opacity 142ms linear;
    -webkit-transition: opacity 142ms linear;
}
html.invert .tooltip{
    color: #202428;
    background-color: #ffffff;
}
.tooltip.active{
    opacity: 1.0 !important;
    visibility: visible;
}
.tooltip:before{
    top: -9px;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0 0 0 -10px;
    padding: 0;
    content: "";
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #202428 transparent;
}
html.invert .tooltip:before{
    border-bottom-color: #ffffff;
}

/* prismJS */
code[class*="language-"], pre[class*="language-"] {
	color: #cccccc;
    word-wrap: normal;
	word-break: normal;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    line-height: 1.5;
    background: none;
    tab-size: 4;
	-o-tab-size: 4;
    -moz-tab-size: 4;
    hyphens: none;
    -ms-hyphens: none;
	-moz-hyphens: none;
    -webkit-hyphens: none;
}
pre[class*="language-"] {
	margin: 15px 0;
    padding: 1em;
	overflow: auto;
}
:not(pre) > code[class*="language-"], pre[class*="language-"]{
	background: #2d2d2d;
}
:not(pre) > code[class*="language-"] {
	padding: .1em;
	white-space: normal;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
}
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
	color: #999;
}
.token.punctuation {
	color: #ccc;
}
.token.tag, .token.attr-name, .token.namespace, .token.deleted {
	color: #e2777a;
}
.token.function-name {
	color: #6196cc;
}
.token.boolean, .token.number, .token.function {
	color: #f08d49;
}
.token.property, .token.class-name, .token.constant, .token.symbol {
	color: #f8c555;
}
.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
	color: #cc99cd;
}
.token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
	color: #7ec699;
}
.token.operator, .token.entity, .token.url {
	color: #67cdcc;
}
.token.important, .token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
.token.inserted {
	color: green;
}
pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}
pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}
.line-numbers .line-numbers-rows {
    top: 0;
    left: -3.8em;
    width: 3em;
	position: absolute;
	pointer-events: none;
	font-size: 100%;
	letter-spacing: -1px;
	border-right: 1px solid #999;
    user-select: none;
	-ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}
.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}

/* Messages */
.message{
    color: #303438;
    width: 100%;
    margin: 15px 0;
    display: table;
    background-color: #fcfcfc;
}
.message:before{
    color: #ffffff;
    width: 50px;
    content: "\e981";
    padding: 4px 0 0 0;
    display: table-cell;
    font-family: "octicons" !important;
    border: 1px solid #0099e5;
    background-color: #0099e5;
    speak: none;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    line-height: 34px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}
.message.message-error:before{
    content: "\e900";
    border-color: #CB414A;
    background-color: #CB414A;
}
.message.message-warning:before{
    content: "\e955";
    border-color: #FAB432;
    background-color: #FAB432;
}
.message.message-success:before{
    content: "\e953";
    border-color: #34BF49;
    background-color: #34BF49;
}
.message .message-inner{
    color: #0099e5;
    padding: 10px 15px;
    display: table-cell;
    font-size: 14px;
    line-height: 22px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #0099e5;
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}
.message.message-error .message-inner{
    color: #CB414A;
    border-color: #CB414A;
}
.message.message-warning .message-inner{
    color: #e1a22d;
    border-color: #FAB432;
}
.message.message-success .message-inner{
    color: #34BF49;
    border-color: #34BF49;
}

/* Checklist */
ul.checklist{
    display: block;
    list-style: none;
}
ul.checklist li{
    display: block;
    font-size: 18px;
    line-height: 26px;
    vertical-align: top;
}
ul.checklist li:before{
    color: #0099e5;
    width: 20px;
    margin: 0 5px 0 0;
    padding: 0;
	content: "\e953";
    display: inline-block;
    font-family: "octicons" !important;
    speak: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 28px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.checklist.right li:before{
    float: right;
    margin: 0 0 0 5px;
}
ul.checklist li.check:before{
    color: #34BF49;
	content: "\e915";
}
ul.checklist li.octocat:before{
    color: #34BF49;
	content: "\e973";
}
ul.checklist li.github:before{
    color: #34BF49;
	content: "\e96a";
}
ul.checklist li.times:before{
    color: #CB414A;
	content: "\e9b0";
}
ul.checklist li.question:before{
    color: #0099e5;
	content: "\e981";
}
ul.checklist li span{
    font-size: 14px;
    opacity: 0.75;
}

/* GitHub Special */
a.github-special{
    color: #ffffff;
    margin: 3px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
    border: 0px solid #000000;
    background-color: #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 42ms linear;
    -moz-transition: all 42ms linear;
    -webkit-transition: all 42ms linear;
    box-shadow: inset 0 0 0 3px #fff;
    -moz-box-shadow: inset 0 0 0 3px #fff;
    -webkit-box-shadow: inset 0 0 0 3px #fff;
}
a.github-special:hover{
    margin: 0;
    border-width: 3px;
}
a.github-special b{
    font-weight: 500;
}
a.github-special .octicon{
    margin: 0 0 0 5px;
}
a.github-special .octicon-heart{
    color: #DC4650;
    margin: 4px 5px 0 5px;
    display: inline-block;
    font-size: 28px;
    line-height: 36px;
    vertical-align: top;
}
a.github-special-white{
    color: #303438;
    margin: 3px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #a0a0a0;
    background-color: #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: all 142ms linear;
    -moz-transition: all 142ms linear;
    -webkit-transition: all 142ms linear;
    box-shadow: 0 3px 1px 1px #ffffff;
    -moz-box-shadow: 0 3px 1px 1px #ffffff;
    -webkit-box-shadow: 0 3px 1px 1px #ffffff;
}
a.github-special-white:hover{
    color: #ffffff;
    background-color: #101418;
    border-color: #101418;
    box-shadow: 0 3px 1px 1px #000000;
    -moz-box-shadow: 0 3px 1px 1px #000000;
    -webkit-box-shadow: 0 3px 1px 1px #000000;
}
a.github-special-white:focus{
    background-color: #000408;
    border-color: #000408;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
a.github-special-white .octicon{
    margin: 0 0 0 5px;
}
a.github-special-white .octicon-heart{
    color: #DC4650;
    margin: 4px 5px 0 5px;
    display: inline-block;
    font-size: 28px;
    line-height: 36px;
    vertical-align: top;
}
/* @end BASIC */

/* @start HEADER */
.header{
	color: #ffffff;
	height: 80px;
	background-color: #DC4650;
}
.header-left, .header-right{
	height: 80px;
}

/* LOGO */
a.tail{
    width: auto;
    height: 80px;
    display: block;
    border-bottom: 0;
}
a.tail .tail-logo{
    width: 60px;
    height: 80px;
    margin: 0 10px 0 0;
    padding: 10px 0;
    display: inline-block;
}
a.tail .tail-logo .tail-logo-circle{
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: #ffffff;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDUwIDUwIj48cGF0aCBkPSJNNDkuMjk0LDI0LjA3M\
    2wtNi4yMjgsLTYuNTU2bDMuNzI5LDAuMzk3bDIuNDk5LDYuMTU5WiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6\
    bm9uemVybzsiLz48cGF0aCBkPSJNNDYuNjE2LDE2LjYzN2wtNC4yMTQsLTAuNDQ4bDQuMzEzLC04LjY1OWwtMC4wOTksOS4\
    xMDdaIiBzdHlsZT0iZmlsbDojZGM0NjUwO2ZpbGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik00MC41MDIsMTYuNzk5bC\
    03LjIzNyw3LjYzM2wwLjExNCwtMTIuODcybDcuMTIzLDUuMjM5WiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6b\
    m9uemVybzsiLz48cGF0aCBkPSJNMTAuNjk3LDI2Ljg3OWwtMTAuMDg1LC0xMC4zMzJsMTEuMjg4LDEuNTg2bDYuMjEsNC43\
    NzhsLTEuNzQ2LDQuOWwtNS42NjcsLTAuOTMyWiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6bm9uemVybzsiLz4\
    8cGF0aCBkPSJNMTQuMTg1LDM3LjY0OGw0LjUyNSwtMTIuNjk4bDguNTQ1LDEwLjMxOGwtMTMuMDcsMi4zOFoiIHN0eWxlPS\
    JmaWxsOiNkYzQ2NTA7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTM2LjMwNiw0NC4yMzlsLTE3LjA2MSwtMjAuN\
    jA0Yy0wLjAxNSwtMC4wMTcgLTAuMDM1LC0wLjAyNiAtMC4wNTIsLTAuMDQxbDAuNjk4LC0xLjk1N2wxMi4xMjcsMi41MTNs\
    LTAuMDE3LDEuODU5YzAsMC4wMDkgMC4wMDUsMC4wMTcgMC4wMDUsMC4wMjdjMC4wMDIsMC4wNDggMC4wMTEsMC4wOTUgMC4\
    wMjQsMC4xNDNjMC4wMDQsMC4wMTQgMC4wMDIsMC4wMyAwLjAwNywwLjA0NGw2LjQ4OCwxOC4yNDFsLTIuMjE5LC0wLjIyNV\
    oiIHN0eWxlPSJmaWxsOiNkYzQ2NTA7ZmlsbC1ydWxlOm5vbnplcm87Ii8+PHBhdGggZD0iTTM5Ljg1NCwzNi45NzhsLTIuN\
    TU5LC0xLjg4bDIuOTQ2LC0xLjg5MWwyLjQ3NiwzLjY0M2wtMi44NjMsMC4xMjhaIiBzdHlsZT0iZmlsbDojZGM0NjUwO2Zp\
    bGwtcnVsZTpub256ZXJvOyIvPjxwYXRoIGQ9Ik00MC4zMDIsMzEuNjgybC00LjA2OCwyLjYxMWwtMi43MDYsLTcuNjFsNy4\
    wODUsMC4zMzhsLTAuMzExLDQuNjYxWiIgc3R5bGU9ImZpbGw6I2RjNDY1MDtmaWxsLXJ1bGU6bm9uemVybzsiLz48cGF0aC\
    BkPSJNMzQuMDE4LDI1LjQ1NWw3LjQyNSwtNy44MzJsOC4xNDYsOC41NzVsLTE1LjU3MSwtMC43NDNaIiBzdHlsZT0iZmlsb\
    DojZGM0NjUwO2ZpbGwtcnVsZTpub256ZXJvOyIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
}
a.tail .tail-project{
    width: auto;
    height: 80px;
    display: inline-block;
}
a.tail .tail-project > span{
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
    display: block;
    font-weight: 400;
    text-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    transition: color 142ms linear;
    -moz-transition: color 142ms linear;
    -webkit-transition: color 142ms linear;
}
a.tail:hover .tail-project > span{
    color: #fff;
}
a.tail .tail-project > span > b{
    color: #fff;
    font-weight: 600;
    transition: color 142ms linear;
    -moz-transition: color 142ms linear;
    -webkit-transition: color 142ms linear;
}
a.tail:hover .tail-project > span > b{
    color: rgba(255, 255, 255, 0.5);
}
a.tail .tail-project .tail-title{
    margin-top: 20px;
    font-size: 22px;
    line-height: 26px;
}
a.tail .tail-project .tail-version{
    font-size: 14px;
    text-align: right;
    line-height: 16px;
}

/* NAVI */
ul.main-navi{
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}
ul.main-navi > li{
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}
ul.main-navi > li > a{
    color: #fff;
    width: auto;
    height: 80px;
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top;
    border-bottom: 0;
}
ul.main-navi > li.item-internal > a:before{
    left: 50%;
    bottom: 25px;
    width: 0;
    height: 0;
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid #fff;
    transition: all 142ms linear;
    -moz-transition: all 142ms linear;
    -webkit-transition: all 142ms linear;
    box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
}
ul.main-navi > li.item-internal:hover > a:before{
    left: 0;
    right: 0;
    width: 100%;
}
ul.main-navi > li > a > span{
    margin: 24px 0 0 0;
    padding: 3px 10px 4px 10px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
ul.main-navi > li.has-submenu a span:after{
    margin: 0 0 0 5px;
    content: "\e9a6";
    speak: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-family: "octicons" !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.main-navi > li.item-external > a > span{
    color: #c63f48;
    opacity: 1;
    line-height: 24px;
    text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 rgba(198, 63, 72, 0.25);
    background-color: #ffffff;
    transition: opacity 142ms linear;
    -moz-transition: opacity 142ms linear;
    -webkit-transition: opacity 142ms linear;
    box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
}
ul.main-navi > li.item-external > a:hover > span{
    opacity: 0.75;
}

/* Item Download */
ul.main-navi > li.item-external > a.tar{
    margin-right: 0;
    padding-right: 0;
}
ul.main-navi > li.item-external > a.zip{
    margin-left: 0;
    padding-left: 0;
}
ul.main-navi > li.item-external > a.tar > span{
    margin-right: 1px;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}
ul.main-navi > li.item-external > a.zip > span{
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

/* Sub Navi */
ul.sub-navi{
    width: auto;
    margin: -13px 0 0 0;
    padding: 0;
    display: none;
    z-index: 50;
    position: absolute;
    list-style: none;
    background-color: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.25);
}
ul.main-navi > li:hover > ul.sub-navi{
    display: block;
}
ul.sub-navi > li{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
ul.sub-navi > li:first-child:before, ul.sub-navi > li:first-child:after{
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0 0 0 -10px;
    padding: 0;
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
}
ul.sub-navi > li:first-child:before{
    top: -12px;
    margin: 0 0 0 -12px;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}
ul.sub-navi > li:first-child:hover:after{
    border-color: transparent transparent #FCF5F6 transparent;
}
ul.sub-navi > li.has-submenu{
}
ul.sub-navi > li.separator{
    height: 1px;
}
ul.sub-navi > li.separator:before{
    top: 0;
    left: 5px;
    right: 5px;
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid #d0d0d0;
}
ul.sub-navi > li > a{
    color: #777777;
    margin: 0;
    padding: 7px 14px;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    border-bottom: 0;
}
ul.sub-navi > li:first-child > a{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
ul.sub-navi > li:last-child > a{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
ul.sub-navi > li:hover > a{
    color: #DC4650;
    background-color: #FCF5F6;
}
ul.sub-navi > li.has-submenu > a:after{
    top: 0;
    right: 15px;
    margin: 0;
    content: "\e9a8";
    displaY: inline-block;
    position: absolute;
    speak: none;
    font-size: 12px;
    font-style: normal;
    line-height: 34px;
    font-weight: normal;
    font-family: "octicons" !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Sub Sub Navi */
ul.sub-navi > li:hover > ul.sub-sub-navi{
    display: block;
}
ul.sub-sub-navi{
    top: 0;
    left: 100%;
    margin: 0 0 0 15px;
}
ul.sub-sub-navi:before{
    top: 0;
    left: -15px;
    right: 0;
    bottom: 0;
    width: 15px;
    content: "";
    display: inline-block;
    position: absolute;
}
ul.sub-sub-navi > li:first-child:before{
    top: 5px;
    left: -12px;
    margin: 0;
    border-width: 12px 12px 12px 0;
    border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
}
ul.sub-sub-navi > li:first-child:after{
    top: 7px;
    left: -10px;
    margin: 0;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
}
ul.sub-sub-navi > li:first-child:hover:after{
    border-color: transparent #FCF5F6 transparent transparent;
}

/* @end HEADER */

/* @start TOOLBAR */
.toolbar{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #ffffff;
}
html.invert .toolbar{
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: #101418;
}
.toolbar .toolbar-left, .toolbar .toolbar-right{
    height: 45px;
}
.toolbar span{
    width: auto;
    margin: 10px 0 0 0;
    padding: 3px 5px;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.toolbar span.javascript{
    color: rgba(0, 0, 0, 0.85);
    background-color: #f7df1e;
}
.toolbar span.typescript{
    color: #fff;
    background-color: #294E80;
}
.toolbar span.coffeescript{
    color: #fff;
    background-color: #3E2723;
}
.toolbar span.python{
    color: #fff;
    background-color: #4584b6;
}
.toolbar span.php{
    color: #fff;
    background-color: #4f5b93;
}
.toolbar ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
.toolbar ul > li{
    width: 24px;
    height: 24px;
    margin: 10px 3px 0 3px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}
.toolbar ul > li.firefox{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW\
    V3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0a\
    CBmaWxsPSIjZmY4MDAwIiBkPSJNOC4zNDQsNS4xMTVjMC4wOTQsLTAuNzk1IDAuNjI4LC0xLjgyNSAxLjYzNCwtMi4yOTdj\
    LTEuNTExLC0wLjIyOSAtMi43MzgsMC40NzIgLTMuMzUsMS4zNzRjLTAuOTY5LC0wLjIwOCAtMS41NjUsLTAuMjE5IC0yLjU\
    0MSwtMC4wMzljLTAuNjE5LC0wLjQ2NSAtMS4zNDYsLTEuNTI0IC0xLjI4OSwtMi42MzNjLTEuMTcxLDEuMzY3IC0xLjQxMy\
    wyLjM5OCAtMS4yNjgsMy42MjljLTQuNTA3LDcuOTkxIDEuNTU2LDE3LjYwMSAxMC4xOTksMTcuNjAxYzcuNzY1LDAgMTIuM\
    jcxLC01Ljg4NyAxMi4yNzEsLTExLjkxOGMwLC00LjA2OCAtMS44NTgsLTcuNTk5IC0zLjc1NCwtOC4zNjJjMC43MDgsMC43\
    NzMgMS41MTIsMi43ODYgMS4zNTgsNC4xOGMtMS41MzEsLTMuOTUxIC01LjM1MywtNS40NzggLTYuNjQxLC01LjM5N2M0LjI\
    zNCwxLjYzNyA1LjI0Nyw3LjIwNyA0Ljg3MSw4Ljg1MWMtMC4zNjgsLTEuOTI3IC0xLjU0MiwtMy41ODggLTIuMjQ1LC00Lj\
    AyN2M0LjEsOS41MjIgLTUuODAyLDEyLjQ0OCAtOC44MjQsOS4xNDNjMC43NzksMC4yIDIuMzE3LDAuMTAyIDMuNDcsLTAuN\
    jYzYzEuMDc4LC0wLjcxNiAxLjE3OSwtMC43NTggMS44NzIsLTAuODExYzAuODIyLC0wLjA2MyAtMC4wNSwtMS42NzQgLTEu\
    ODQ3LC0xLjQwMWMtMC43NCwwLjExMiAtMS45NTgsMC45NzQgLTMuNDU3LDAuNDA2Yy0xLjgwOCwtMC42ODYgLTEuNzUxLC0\
    zLjEzMyAwLjExNiwtMi4zOTdjMC40MDQsLTAuNTIgMC4xMDYsLTEuNTAyIDAuMTA2LC0xLjUwMmMwLjU0MiwtMC40OTMgMS\
    4yMjcsLTAuODQgMS42NDUsLTEuMDg0YzAuMjczLC0wLjE2IDAuOTk0LC0wLjYwMiAwLjk1NCwtMS40NjNjLTAuMTQ3LC0wL\
    jExNCAtMC4zODUsLTAuMjYgLTAuOTIsLTAuMjI5Yy0yLjA4NCwwLjEzMSAtMi4yMjMsLTAuNjE2IC0yLjM2LC0wLjk2MVoi\
    IC8+PC9zdmc+");
}
.toolbar ul > li.chrome{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW\
    V3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0a\
    CBmaWxsPSIjZWE0MzM1IiBkPSJNMi44OTgsNC4xODFjNS41NzgsLTYuNDkzIDE1LjkyMiwtNS4yMTEgMTkuNzg4LDIuMzcz\
    Yy0yLjcyMiwwLjAwMSAtNi45ODQsLTAuMDAxIC05LjI5MywwYy0xLjY3NCwwIC0yLjc1NSwtMC4wMzggLTMuOTI2LDAuNTc\
    5Yy0xLjM3NiwwLjcyNCAtMi40MTQsMi4wNjcgLTIuNzc3LDMuNjQ0bC0zLjc5MiwtNi41OTZaIiAvPjxwYXRoIGZpbGw9Ii\
    M0Mjg1ZjQiIGQ9Ik04LjAwOCwxMmMwLDIuMiAxLjc4OSwzLjk5IDMuOTg4LDMuOTljMi4xOTksMCAzLjk4OCwtMS43OSAzL\
    jk4OCwtMy45OWMwLC0yLjIwMSAtMS43ODksLTMuOTkxIC0zLjk4OCwtMy45OTFjLTIuMTk5LDAgLTMuOTg4LDEuNzkgLTMu\
    OTg4LDMuOTkxWiIgLz48cGF0aCBmaWxsPSIjMzRhODUzIiBkPSJNMTMuNTQ0LDE3LjIyM2MtMi4yMzksMC42NjUgLTQuODU\
    4LC0wLjA3MyAtNi4yOTMsLTIuNTVjLTEuMDk2LC0xLjg5IC0zLjk5LC02LjkzMiAtNS4zMDUsLTkuMjI0Yy00LjYwNyw3Lj\
    A2MSAtMC42MzYsMTYuNjgzIDcuNzI3LDE4LjMyNWwzLjg3MSwtNi41NTFaIiAvPjxwYXRoIGZpbGw9IiNmYmJjMDUiIGQ9I\
    k0xNS43MDEsOC4wMDljMS44NjQsMS43MzQgMi4yNyw0LjU0MiAxLjAwNyw2LjcxOWMtMC45NTEsMS42NDEgLTMuOTg4LDYu\
    NzY2IC01LjQ2LDkuMjQ4YzguNjE3LDAuNTMxIDE0Ljg5OSwtNy45MTQgMTIuMDYyLC0xNS45NjdsLTcuNjA5LDBaIiAvPjw\
    vc3ZnPg==");
}
.toolbar ul > li.opera{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW\
    V3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0a\
    CBmaWxsPSIjY2MwZjE2IiBkPSJNMTIsMjBjLTAuNjkzLC0wLjAwMiAtMS4zNzYsLTAuMTYgLTIsLTAuNDZjMS41NDQsMS42\
    NDEgMy41NTUsMi43NjkgNS43NiwzLjIzYzAuNzM0LDAuMTUyIDEuNDk5LDAuMDMxIDIuMTUsLTAuMzRjMy43MzgsLTIuMTM\
    zIDYuMDUzLC02LjExOSA2LjA1MywtMTAuNDIzYzAsLTQuNDk0IC0yLjUyNCwtOC42MjYgLTYuNTIzLC0xMC42NzdjLTAuMz\
    U3LC0wLjE4NCAtMC43NjMsLTAuMjUgLTEuMTYsLTAuMTljLTIuNDAyLDAuMzgyIC00LjYxMiwxLjU1IC02LjI4LDMuMzJjM\
    C42MjQsLTAuMyAxLjMwNywtMC40NTggMiwtMC40NmMzLjMxLDAgNiwzLjU5IDYsOGMwLDQuNDEgLTIuNjksOCAtNiw4WiIg\
    Lz48cGF0aCBmaWxsPSIjY2MwZjE2IiBkPSJNNiwxM2wwLC0yYzAuNDMzLC01LjA4IDQuMDU5LC05LjM1NCA5LC0xMC42MWM\
    tMC45OTcsLTAuMjYyIC0yLjAyMywtMC4zOTUgLTMuMDU0LC0wLjM5NWMtNi41ODMsMCAtMTIsNS40MTcgLTEyLDEyYzAsNi\
    41ODMgNS40MTcsMTIgMTIsMTJjMS4wMzEsMCAyLjA1NywtMC4xMzMgMy4wNTQsLTAuMzk1Yy00LjkzOCwtMS4yNTUgLTguN\
    TYzLC01LjUyNCAtOSwtMTAuNloiIC8+PC9zdmc+");
}
.toolbar ul > li.safari{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW\
    V3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY\
    2xlIGZpbGw9IiMwYWYiIGN4PSIxMiIgY3k9IjEyIiByPSIxMiIgLz48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNC40NTIsMTku\
    NTQ4bDguNjQ0LC02LjQ1MmwtMi4xOTIsLTIuMTkybC02LjQ1Miw4LjY0NFoiIC8+PHBhdGggZmlsbD0iI2UwMCIgZD0iTTE\
    5LjU0OCw0LjQ1MmwtOC42NDQsNi40NTJsMi4xOTIsMi4xOTJsNi40NTIsLTguNjQ0WiIvPjwvc3ZnPg==");
}
.toolbar ul > li.edge{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW\
    V3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0a\
    CBmaWxsPSIjMzI3NmJjIiBkPSJNOS41MTgsNS45MzZjLTAuOTQ4LDEuMDc3IC0xLjQ0LDIuMzIyIC0xLjYyNiwzLjcyOWMy\
    Ljg1MywwIDUuNjc2LDAgOC41MjEsMGMwLC0wLjIwOCAwLjAxMSwtMC40MiAtMC4wMDIsLTAuNjNjLTAuMDU4LC0wLjkxOSA\
    tMC4yNTUsLTEuODAxIC0wLjc1NywtMi41ODhjLTAuNjczLC0xLjA1NSAtMS42ODIsLTEuNTggLTIuODg0LC0xLjc3M2MtMS\
    43NDMsLTAuMjgxIC0zLjQyNSwwLjAxNiAtNS4wNTksMC42MTJjLTIuMzkyLDAuODcxIC00LjM5OSwyLjI5NSAtNS45OTcsN\
    C4yODJjLTAuMjY5LDAuMzM0IC0wLjUwNywwLjY5MiAtMC44MDIsMS4wOTZjMC4wMjQsLTAuMjAxIDAuMDM4LC0wLjM0NiAw\
    LjA2LC0wLjQ5YzAuMzQ0LC0yLjMwMiAxLjE3MywtNC40MDEgMi42NjUsLTYuMjA0YzEuNzUzLC0yLjExOSA0LjAxMywtMy4\
    zNzQgNi43MjMsLTMuODEyYzIuNjQsLTAuNDI2IDUuMTM3LDAuMDAzIDcuNDU1LDEuMzQ1YzIuMTM0LDEuMjM2IDMuNjA0LD\
    MuMDQ3IDQuNDgyLDUuMzQxYzAuNTA2LDEuMzI0IDAuNzU0LDIuNjk5IDAuNzY2LDQuMTE3YzAuMDA5LDAuODkyIDAuMDE3L\
    DEuNzg1IDAuMDI1LDIuNjc4YzAsMC4wODkgMCwwLjE3OCAwLDAuMzAxYy01LjA0NCwwIC0xMC4wNjYsMCAtMTUuMTA1LDBj\
    MC4wMDYsMS4yMzkgMC4zNjcsMi4zMDcgMS4xOTgsMy4xOTNjMC45NjcsMS4wMyAyLjIwNywxLjUzMSAzLjU2NiwxLjcyOWM\
    yLjg1MiwwLjQxNiA1LjUzOCwtMC4xMDUgOC4wNDQsLTEuNTM3YzAuMDY1LC0wLjAzNiAwLjEyOSwtMC4wNzQgMC4xOTMsLT\
    AuMTFjMC4wMDYsLTAuMDAzIDAuMDE2LC0wLjAwMSAwLjA1NCwtMC4wMDRjMC4wMDUsMC4wODYgMC4wMTUsMC4xNzMgMC4wM\
    TUsMC4yNTljMC4wMDEsMS41MjIgLTAuMDAzLDMuMDQzIDAuMDA0LDQuNTY1YzAuMDAxLDAuMTc0IC0wLjA1NSwwLjI2NSAt\
    MC4yMSwwLjM0MmMtMS43OTcsMC44OTUgLTMuNjk4LDEuNDA3IC01LjY5NywxLjU2MmMtMS4yNzMsMC4wOTggLTIuNTQzLDA\
    uMDk5IC0zLjgwMywtMC4xNTdjLTMuNzkzLC0wLjc2OSAtNi44MTksLTMuNTQ2IC03LjUxMywtNy40NTJjLTAuNzkyLC00Lj\
    Q1OCAxLjMzLC04LjU3NCA1LjU5MiwtMTAuMzk0YzAuMDE0LC0wLjAwNSAwLjAzMSwwIDAuMDkyLDBaIiAvPjwvc3ZnPg==");
}
.toolbar ul > li.ie{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW\
    V3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0a\
    CBmaWxsPSIjMDBiYmY1IiBkPSJNMTMuMjU2LDYuNjQ0YzIuNjQxLDAgNC40MDIsMi4wNjEgNC40NjgsNC4xMDZsLTguOTks\
    MGMwLjA4OCwtMS43NCAxLjcwMSwtNC4xMDYgNC41MjIsLTQuMTA2Wm0wLDExLjgzNGMtMi42NDEsMCAtNC41MjIsLTIuMjk\
    gLTQuNTg4LC00LjYxN2wxNS4zMTEsMGMwLjIzNCwtNS4wMTMgLTEuNSwtOC41NjggLTUuOTQxLC0xMS4wNDhjMC42NDksLT\
    AuNzEgNS45NjUsLTIuNTc4IDQuNjA0LDIuNDk5bDAuNTIzLDAuNzU1YzIuMzA2LC02Ljk4NiAtNC42MiwtNi42MDYgLTkuM\
    jAzLC00LjM4OWMtNi42MDYsLTAuMDIxIC0xMC4zNDYsNC4xMTIgLTExLjM3NCw4LjM1NGMxLjc4NSwtMi41NSA0LjA5NCwt\
    NC4wNjEgNS41OTksLTQuNDgxYy04LjYxNSw2Ljg5MSAtMTIuNjE5LDIyLjA4OSAtMC45MTksMTcuMjczbC0wLjgxMiwtMC4\
    0ODdjLTcuMDQxLDIuMjA4IC00LjMyLC00LjAzMyAtMi45NjUsLTQuOTM0YzEuNjIyLDMuMyA1LjA3OCw1LjkzNyA5LjMwNi\
    w1LjkzN2M1LjM4LDAgOS4zNzgsLTIuNzYzIDEwLjk2NCwtNy4zNDdsLTYuMjEyLDBjLTAuODk3LDEuNTg5IC0yLjE0NCwyL\
    jQ4NSAtNC4yOTMsMi40ODVaIiAvPjwvc3ZnPg==");
}
/* @end TOOLBAR */

/* @start CONTENT */
.content{
    width: 100%;
    background-color: #ffffff;
}
html.invert .content{
    background-color: #202428;
}
.content section.demo-content{
    width: 100%;
    padding: 50px 0;
}
.content section.demo-content.demo-poser{
    z-index: 65;
    position: relative;
}
.content section.demo-content.separate{
    border-bottom: 1px solid #d0d0d0;
}
html.invert .content section.demo-content.separate{
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
.content section.demo-content.separate:last-child{
    border-bottom: 0;
}
.content section.demo-content.invert{
    color: rgba(255, 255, 255, 0.8);
    background-color: #202428;
}
html.invert .content section.demo-content.invert{
    background-color: #101418;
}
.content section.demo-content:last-child{
    padding-bottom: 100px;
    border-bottom: 0;
}

/* SIDE-BY-SIDE */
.content section.demo-content .side-by-side{
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
}
.content section.demo-content .side-by-side > *{
    display: none;
}
.content section.demo-content .side-by-side > aside{
    width: 50%;
    padding: 10px 15px;
    display: table-cell;
    vertical-align: top;
}
.content section.demo-content .side-by-side > aside.aside-25{
    width: 25%;
}
.content section.demo-content .side-by-side > aside.aside-33{
    width: 33.3333333333%;
}
.content section.demo-content .side-by-side > aside.aside-50{
    width: 50%;
}
.content section.demo-content .side-by-side > aside.aside-66{
    width: 66.6666666666%;
}
.content section.demo-content .side-by-side > aside.aside-75{
    width: 75%;
}
.content section.demo-content .side-by-side.separated > aside{
    border-right: 1px solid #d0d0d0;
}
.content section.demo-content .side-by-side.separated > aside:last-child{
    border-right-width: 0;
}
html.invert .content section.demo-content .side-by-side.separated > aside,
.content section.demo-content.invert .side-by-side.separated > aside{
    border-right-color: rgba(255, 255, 255, 0.2);
}

/* Header */
.content section.demo-content header{
    color: #525456;
    margin: 0 0 10px 0;
    padding: 10px 15px;
    display: block;
}
.content section.demo-content header.separated{
    border-bottom: 1px solid #d0d0d0;
}
html.invert .content section.demo-content header.separated{
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
html.invert .content section.demo-content header.separated,
.content section.demo-content.invert header.separated{
    border-right-color: rgba(255, 255, 255, 0.2);
}
.content section.demo-content header h1{
    margin: 0;
    padding: 5px 10px;
    display: block;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    border: 0;
}
html.invert .content section.demo-content header h1,
.content section.demo-content.invert header h1{
    color: rgba(255, 255, 255, 0.75);
}
.content section.demo-content header h1 b{
    color: #323436;
    display: inline-block;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
}
html.invert .content section.demo-content header h1 b,
.content section.demo-content.invert header h1 b{
    color: rgba(255, 255, 255, 1);
}
.content section.demo-content header p{
    width: auto;
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    background-color: #f0f0f0;
}
html.invert .content section.demo-content header p,
.content section.demo-content.invert header p{
    color: rgba(255, 255, 255, 0.5);
    background-color: #303438;
}

.content section.demo-content header .badge{
    color: #ffffff;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    background-color: #DC4650;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content section.demo-content header .badge.badge-blue{
    border-color: #0099e5;
    background-color: #0099e5;
}
.content section.demo-content header .badge.badge-green{
    border-color: #34BF49;
    background-color: #34BF49;
}
.content section.demo-content header .badge.badge-red{
    border-color: #CB414A;
    background-color: #CB414A;
}
.content section.demo-content header .badge .badge-icon{
    top: 1px;
    left: 15px;
    color: #DC4650;
    margin: 0;
    padding: 5px;
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
}
.content section.demo-content header .badge.icon-right .badge-icon{
    left: auto;
    right: 15px;
}
.content section.demo-content header .badge.badge-blue .badge-icon{
    color: #0099e5;
}
.content section.demo-content header .badge.badge-green .badge-icon{
    color: #34BF49;
}
.content section.demo-content header .badge.badge-red .badge-icon{
    color: #CB414A;
}
.content section.demo-content header .badge .badge-icon:before,
.content section.demo-content header .badge .badge-icon:after{
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    position: absolute;
    border-style: solid;
}
.content section.demo-content header .badge .badge-icon:before{
    left: 0;
    bottom: -17px;
    border-width: 17px 13px 0 0;
    border-color: #ffffff transparent transparent transparent;
}
.content section.demo-content header .badge .badge-icon:after{
    right: 0;
    bottom: -17px;
    border-width: 0 13px 17px 0;
    border-color: transparent #ffffff transparent transparent;
}
.content section.demo-content header .badge .badge-inner{
    width: auto;
    margin: 0;
    padding: 15px 30px;
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 0 #DC4650, 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.content section.demo-content header .badge .badge-icon+.badge-inner{
    padding-left: 60px;
    padding-right: 30px;
}
.content section.demo-content header .badge.icon-right .badge-icon+.badge-inner{
    padding-left: 30px;
    padding-right: 60px;
}
.content section.demo-content header .badge.badge-blue .badge-inner{
    text-shadow: 1px 1px 0 #0099e5, 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.content section.demo-content header .badge.badge-green .badge-inner{
    text-shadow: 1px 1px 0 #34BF49, 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.content section.demo-content header .badge.badge-red .badge-inner{
    text-shadow: 1px 1px 0 #CB414A, 2px 2px 0 rgba(0, 0, 0, 0.2);
}

/* Article */
.content section.demo-content article{
    width: 100%;
    margin: -1px 0 0 0;
    padding: 30px 15px;
    display: block;
    text-align: center;
    vertical-align: top;
}
.content section.demo-content article[class*="text"]{
    text-align: inherit;
}
.content section.demo-content article.separated{
    width: auto;
    margin: -1px 3px 0 3px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
html.invert .content section.demo-content article.separated,
.content section.demo-content.invert article.separated{
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
.content section.demo-content article.side-by-side.separated{
    width: 100%;
    margin: -1px 0 0 0;
}
.content section.demo-content article.bordered{
    border: 1px solid #d0d0d0;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
html.invert .content section.demo-content article.bordered,
.content section.demo-content.invert article.bordered{
    border-color: rgba(255, 255, 255, 0.2);
}
html.invert .content section.demo-content article.bordered{
    background-color: #101418;
}
.content section.demo-content article.side-by-side.bordered{
    margin: 10px 0 0 0;
}
.content section.demo-content article.side-by-side.bordered > aside:first-child{
    border-right: 1px solid #d0d0d0;
}
html.invert .content section.demo-content article.side-by-side.bordered > aside:first-child,
.content section.demo-content.invert article.side-by-side.bordered > aside:first-child{
    border-right-color: rgba(255, 255, 255, 0.2);
}
.content section.demo-content article h1{
    color: #555555;
    font-size: 24px;
    text-align: center;
    border-bottom: 0;
}
.content section.demo-content article h1:first-child{
    margin: 0 0 15px 0;
}
.content section.demo-content article[class*="text"] h1{
    text-align: inherit;
}
html.invert .content section.demo-content article h1,
.content section.demo-content.invert article h1{
    color: rgba(255, 255, 255, 0.9);
}
.content section.demo-content article .example{
    margin: 30px 0;
    display: block;
}
.content section.demo-content article .example:first-child{
    margin-top: 15px;
}
.content section.demo-content article .example:last-child{
    margin-bottom: 15px;
}

/* Footer */
.content section.demo-content footer{
    width: 75%;
    margin: 0 auto;
    padding: 15px 0;
    display: block;
}
.content section.demo-content footer .example-label{
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content section.demo-content footer .example-label:hover{
    border-color: #a0a0a0;
    box-shadow: 0 1px 1px #d0d0d0;
    -moz-box-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
}
.content section.demo-content footer .example-label.active{
    margin-bottom: -1px;
    border-color: #a0a0a0;
    border-bottom-color: #ffffff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.content section.demo-content footer .example-code{
    width: auto;
    height: 0;
    margin: 0;
    padding: 0;
    displaY: block;
    overflow: hidden;
    transition: height 142ms linear;
    -moz-transition: height 142ms linear;
    -webkit-transition: height 142ms linear;
}
.content section.demo-content footer .example-code.active{
    border: 1px solid #a0a0a0;
    box-shadow: 0 1px 1px #d0d0d0;
    -moz-box-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
}
.content section.demo-content footer .example-code div{
    padding: 15px;
}
.content section.demo-content footer .example-code div pre{
    margin: 0;
    max-height: 400px;
}
.content section.demo-content footer .example-code div b{
    margin: 5px 0;
    padding: 0 10px;
    display: inline-block;
}

/* @end CONTENT */

/* @start DOCUMENTATION */
.docs-content{
    width: 100%;
    padding: 50px 0;
}
.docs-content .container{
    position: relative;
}
.docs-content article h1, .docs-content article h2, .docs-content article h3,
.docs-content article h4, .docs-content article h5, .docs-content article h6{
    margin: 30px 0 15px 0;
    padding: 15px 10px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid #d0d0d0;
}
.docs-content article{
    width: auto;
    margin: 0;
    padding: 0 300px 0 0;
    display: block;
}
.docs-content aside{
    top: 0;
    right: 0;
    width: 250px;
    margin: 15px 0;
    position: absolute;
}
.docs-content aside ul.docs-navi{
    width: 250px;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    list-style: none;
}
.docs-content aside ul.docs-navi > li{
    margin: 0;
    padding: 0;
    display: block;
}
.docs-content aside ul.docs-navi > li > a{
    color: #333333;
    margin: 0;
    padding: 7px 15px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 0;
    background-color: #f8f8f8;
    border-left: 3px solid #d0d0d0;
}
.docs-content aside ul.docs-navi > li > a:hover{
    background-color: rgba(227, 98, 9, 0.1);
    border-left-color: #E36209;
}
.docs-content aside ul.docs-navi > li.active > a{
    background-color: rgba(0, 153, 229, 0.1);
    border-left-color: #0099e5;
}
/* @end DOCUMENTATION */

/* @start FOOTER */
.footer{
	color: #777777;
	width: 100%;
	margin: 0;
	padding: 50px 0;
	display: block;
	font-size: 14px;
	line-height: 24px;
    border-top: 1px solid #d0d0d0;
	background-color: #fafafa;
}
html.invert .footer{
	color: #777777;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #101418;
}
.footer a{
	color: #333333;
	padding: 0 3px;
	border-bottom: 1px solid transparent;
}
html.invert .footer a{
	color: #999999;
}
.footer a:hover, html.invert .footer a:hover{
	color: #E36209;
	border-color: #E36209;
}
.footer a span{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
}
.footer .footer-right{
	text-align: right;
}
/* @end FOOTER */

/* @start RESPONSIVE */
@media only screen and (max-width: 1200px){
    .container{
        width: 100%;
        min-width: 100%;
    }
}
@media only screen and (max-width: 1000px){
    .content section.demo-content .side-by-side{
        display: block;
    }
    .content section.demo-content .side-by-side > aside,
    .content section.demo-content .side-by-side > aside.aside-25,
    .content section.demo-content .side-by-side > aside.aside-33,
    .content section.demo-content .side-by-side > aside.aside-50,
    .content section.demo-content .side-by-side > aside.aside-66,
    .content section.demo-content .side-by-side > aside.aside-75{
        width: 100%;
        display: block;
    }
    .content section.demo-content .side-by-side.separated > aside{
        border-right: 0;
        border-bottom: 1px solid #d0d0d0;
    }
    .content section.demo-content .side-by-side.separated > aside:last-child{
        border-bottom: 0;
    }
    html.invert .content section.demo-content .side-by-side.separated > aside,
    .content section.demo-content.invert .side-by-side.separated > aside{
        border-right: 0;
        border-bottom-color: rgba(255, 255, 255, 0.2);
    }
    .content section.demo-content footer{
        width: 100%;
        display: block;
    }
}
@media only screen and (max-width: 750px){
    .header, .footer{
        height: auto;
    }
    .header .header-left, .header .header-right,
    .footer .footer-left, .footer .footer-right{
        float: none;
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
    }
    .docs-content article,
    .docs-content aside{
        top: auto;
        right: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        position: static;
    }
    .docs-content aside{
        margin-bottom: 30px;
    }
    .docs-content aside ul.docs-navi{
        margin: 0 auto;
        position: static;
    }
}
/* @end RESPONSIVE */
